main {
    max-width: 600px;
    width: 100%;
    margin: 30px auto;
    background: white;
    padding: 24px;
}
/* deleteAccount popup */
#deletePopup{
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    padding: 20px;
    width: 300px;
    /*centering the pop up*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#deletePopup h3{
    margin-top: 0;
    text-align: center;
}

#deletePopup input{
    margin: 16px;
}

#deleteAccountButton {
    display: block;
    margin: 20px auto;
    background-color: red;
    color: white;
}

#changePasswordButton {
    display: block;
    margin: 20px auto;
    background-color: green;
    color: white;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

#changePassPrompt{
    margin-bottom: 16px;
}

#changePasswordWrap {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-top: 20px;
}

#deleteAccountWrap{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-top: 20px;
}

#inputDeleteLabel{
    display: block;
    margin-top: 10px;
}