name: Deploy Website Frontend

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

env:
  IMAGE_NAME: ghcr.io/team-tiger1/websitefrontend

jobs:
  build-and-deploy:
    runs-on: [self-hosted, Linux, ARM64]
    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        run: |
          docker build -t ${{ env.IMAGE_NAME }}:latest .
          docker push ${{ env.IMAGE_NAME }}:latest

      - name: Deploy to K3s
        env:
          KUBECONFIG: /home/daniel/.kube/config
        run: |
          kubectl apply -f k8s/deploy.yaml
          kubectl apply -f k8s/ingress.yaml
          kubectl rollout restart deployment/website-frontend
